[Unit]
Description=Dynamic IPv6 config rewriting, validation, backups with periodic execution.
Documentation=man:unbound.conf(5)
Requires=unbound-ipv6-update.service

[Timer]
# Run 2 minutes after boot
OnBootSec=2min

# Run every hour thereafter
OnUnitActiveSec=1h

# If system was off during scheduled time, run on next boot
Persistent=true

[Install]
WantedBy=timers.target