[Unit]
Description=yExecutes unbound-ipv6-update.service periodically.
Documentation=man:systemd.timer(5)

[Timer]
OnBootSec=2min
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=5min
AccuracySec=1min
Unit=update-unbound-ipv6.service

[Install]
WantedBy=timers.target
